/* YOUTUBE EMBED */
.container-yt-embed {
  width: 500px;
  /* border: 2px solid red; */
}

/* MAP */
.container-map {
  /* border: 2px solid blue; */
  /* width: max-content; */
}
.map {
  height: 300px;
  width: 500px;
}
